---
import Section from '../ui/Section.astro';
import Card from '../ui/Card.astro';

// Get the company logos
interface Experience {
  company: string;
  logo: string;
  position: string;
  period: string;
  description: string;
}

const experiences: Experience[] = [
{
    company: 'Stiftung Gesundheitsförderung',
    logo: '/assets/svgs/sbz.jpeg',
    position: 'Apprenticeship as Platform Developer ',
    period: 'Jan 2021 - ',
    description: 'Implementing and maintaining business applications, Windows server infrastructure, network systems and the Citrix environment, along with providing efficient first and second level support to end users.'
  },
  {
    company: 'Keeping the Bakery connected',
    logo: '/assets/svgs/bakery.jpeg',
    position: 'Freelancer',
    period: 'Aug 2024 - ',
    description: 'Besides my main job, I manage the  IT setup of a local bakery. I make sure everything runs reliably, so the focus stays where it should: baking great bread, not fixing computers.'
  },
 

];
---

<Section id="experience" title="Professional Experience" subtitle="My road so far.">
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      experiences.map(({ company, logo, position, period, description }) => (
        <Card hover={true} class="h-full">
          <div class="p-6 flex flex-col h-full">
            <div class="flex items-center mb-4">
              <div class="w-12 h-12 bg-gray-100 dark:bg-gray-800 rounded-lg overflow-hidden flex items-center justify-center mr-4">
                <img src={logo} alt={company} class="w-10 h-10 object-contain" />
              </div>
              <div>
                <h3 class="font-bold text-xl">{company}</h3>
                <p class="text-sm text-gray-500 dark:text-gray-400">{period}</p>
              </div>
            </div>
            
            <h4 class="text-lg font-medium mb-2 text-primary">{position}</h4>
            <p class="text-gray-600 dark:text-gray-300 text-sm mt-auto">{description}</p>
          </div>
        </Card>
      ))
    }
  </div>
</Section> 